<div class="container">
    <p><%= @mypage.name %>의 정보</p>
    <p>E-mall: <%= @mypage.email %></p>
    <p>지역: <%= @mypage.reg %></p>
    <p>생년월일: <%= @mypage.birth %></p>
    <p>tel: <%= @mypage.phone %></p>
    <% if @mypage.id == current_user.id %>
        <button><a href="/messages">송신함</a></button>
        <button><a href="/indexre">수신함</a></button>
        <button><%= link_to "정보 수정", edit_user_registration_path %></button>
    <% else %>
        <button><a href="/messages/new/<%= @mypage.id %>">메세지 보내기</a></button>
    <% end %>
</div>