<html>
  <head>
    <style>
      label{
        font-size:15px;
      }
      body{
        font-family:arial;
      }
    </style>
  </head>
  <body>
    <br>
     <div class="container">
          <form action="/create" method="post">
             <div class="form-group">
                <label for="exampleInputEmail1">제목</label>
                <input type="text" class="form-control" name="post_title" placeholder="제목을 입력해주세요.">
              </div>
            
              <div class="form-group">
                <label for="exampleInputEmail1">운동 종목</label>
                <select name="post_sports" class="form-control">
                  <option value="축구">축구</option>
                  <option value="농구">농구</option>
                  <option value="야구">야구</option>
                  <option value="야구">기타<p>(추가 내용에 종목을 입력해주세요.)</p></option>
                </select>
              </div>
              
              <div class="form-group">
                <label for="exampleInputEmail1">지역</label>
                <input type="text" class="form-control" name="post_region" placeholder="예) OO도 OO시 OO동">
              </div>
              
              <div class="form-group">
                <label for="exampleInputEmail1">날짜</label>
                <input type="date" class="form-control" name="post_date">
              </div>
              
              <div class="form-group">
                <label for="exampleInputEmail1">시간</label><br>
                <input type="time" style="display:inline;" class="form-control" name="post_stime" > ~ <input type="time"  style="display:inline;" class="form-control" name="post_etime">
              </div>
              
              <div class="form-group">
                <%= tinymce %>
                <label for="exampleInputcontent">추가 내용</label>
                <textarea class="form-control tinymce" name="post_content" rows="20" placeholder="추가할 정보를 입력해주세요. 예)핸드폰 번호, 경기장 이름 등"></textarea>
              </div>
              <div style="float:right">
              <button type="submit" class="button">쓰기</button>
              <a href="/questions"><button class="button">취소</button></a>
              </div>
          </form>
        </div>
<!--<br>-->
<!-- <div class="container">-->
<!--      <%= form_tag '/create', method: 'post' do %>-->
<!--         <div class="form-group">-->
<!--            <label for="exampleInputEmail1">제목</label>-->
<!--            <%= text_field_tag 'post_title', nil, class: "form-control", placeholder:"제목을 입력해주세요." %> <!-- 2번째는 value -->
<!--             제목 작성 후 '저장하는 기능'으로 넘길 때, 작성한 제목을 post_title에 저장해서 넘긴다. -->
<!--          </div>-->
        
<!--          <div class="form-group">-->
<!--            <label for="exampleInputEmail1">운동 종목</label>-->
<!--            <%= text_field_tag 'post_sports', nil, class: "form-control", placeholder: "운동 종목을 입력해주세요." %> <!-- 2번째는 value -->
<!--             제목 작성 후 '저장하는 기능'으로 넘길 때, 작성한 제목을 post_title에 저장해서 넘긴다. -->
<!--          </div>-->
          
<!--          <div class="form-group">-->
<!--            <label for="exampleInputEmail1">지역</label>-->
<!--            <%= text_field_tag 'post_region', nil, class: "form-control", placeholder: "예) OO도 OO시 OO동" %> <!-- 2번째는 value -->
<!--             제목 작성 후 '저장하는 기능'으로 넘길 때, 작성한 제목을 post_title에 저장해서 넘긴다. -->
<!--          </div>-->
          
<!--          <div class="form-group">-->
<!--            <label for="exampleInputEmail1">날짜</label>-->
<!--            <%= text_field_tag 'post_date', nil, class: "form-control", placeholder: "예) OOOO년-OO월-OO일" %> <!-- 2번째는 value -->
<!--             제목 작성 후 '저장하는 기능'으로 넘길 때, 작성한 제목을 post_title에 저장해서 넘긴다. -->
<!--          </div>-->
          
<!--          <div class="form-group">-->
<!--            <label for="exampleInputEmail1">시간</label>-->
<!--            <%= text_field_tag 'post_time', nil, class: "form-control", placeholder: "예) OO시-OO시" %> -->
<!--             제목 작성 후 '저장하는 기능'으로 넘길 때, 작성한 제목을 post_title에 저장해서 넘긴다. -->
<!--          </div>-->
          
<!--          <div class="form-group">-->
<!--            <%= tinymce %>-->
<!--            <label for="exampleInputcontent">추가 내용</label>-->
<!--            <%= text_area_tag 'post_content', nil, class: "form-control tinymce", rows:30, placeholder: "추가할 정보를 입력해주세요. 예)핸드폰 번호, 경기장 이름 등" %> -->
<!--             내용을 작성한 뒤 '저장하는 기능'으로 넘길 때, 작성한 내용을 post_content에 저장해서 넘긴다. -->
<!--          </div>-->
          
<!--          <%= submit_tag '쓰기', class: "btn btn-default" %>-->
<!--          <a href="/index" class="btn btn-default">취소</a>-->
<!--      <% end %>-->
<!--  </div>-->
  </body>
</html>